 <!-- footer -->

 <div id="pie">
    <h1>Síguenos:</h1>
    <div>
        <a href="https://www.facebook.com/Flying-Star-101131785816573"><img class="iconos"
                src="https://cdn-icons-png.flaticon.com/128/733/733547.png" alt="facebook" /></a>
        <a href="https://www.instagram.com/flyingstar.co/?hl=es-la"><img class="iconos"
                src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" alt="instagram" /></a>
        <a href="https://twitter.com/FlyingS23947165"><img class="iconos" src="https://i0.wp.com/hipertextual.com/wp-content/uploads/2012/06/twitter-bird-white-on-blue.jpg?fit=300%2C300&ssl=1"
                alt="twitter" /></a>
    </div>
    <div>2022 &copy; SURTIAPP</div>
</div>

<!-- fin del footer -->
